<div class="app-series-detail-container" *ngIf="selected">
  <app-series-detail  [serieDetail]="selectedSerie"> </app-series-detail>
 </div>
 
 <hr />
 


<div class="container-fluid">
  <div class="col-6">
    <table class="table">
      <thead>
        <tr>
          <th class="h4">ID</th>
          <th class="h4">Series Name</th>
          <th class="h4">Channel</th>
          <th class="h4">Seasons</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of series">
          <td>
            <dd>{{c.id}}</dd>
          </td>
          <td  (click)="onSelected(c)">
            <dd class="link-like"> {{ c.name }} </dd>
          </td>
          <td>
            <dd>{{c.channel}}</dd>
          </td>
          <td>
            <dd>{{c.seasons}}</dd>
          </td>
      </tr>
      </tbody>
    </table>

    <div class="text-center">
      <h5>Promedio de temporadas: {{ totalTemporadas }}</h5>
    </div>

    
  </div>
</div>